@{
    ViewBag.Title = "About";
}

<div class="row about-padding">
    <div class="col-md-12">
        <h1>CodeDocs Principle Technologist - Peter Worlin</h1>
    </div>
</div>


<div class="row about-padding">
    <div class="col-md-4">
        <img src="http://codedocs.azureedge.net/images/MCSD-ASA logo-BWPR.png" />
    </div>
    <div class="col-md-8">
        <br/>
        <p>CodeDocs was created in 2010 by Peter to provide SharePoint, Development and IT consultancy to Small, Medium and Large enterprises. </p> 
        <p>With many years experience of providing IT Services specifically around software development, web sites, intranets and
            extranets we now also focus on helping customers, both existing and new, take their first steps to the cloud.
        </p>
    </div>
</div>


<div class="row about-padding">
    <div class="col-md-8">
        <br/>
        <p>Peter is an ex-employee of Microsoft who worked in their SharePoint consultancy as a Senior consultant and who is now helping companies through CodeDocs to realise the potential of the cloud.  </p>
        <p>With a background in code-development creating websites, intranets and extranets Peter can help your company take it first steps to the cloud or develop your cloud presence.  </p>

        <p>Peter is a qualified Microsoft Azure Solution Architect and is a certified TOGAF practitioner.</p>
    </div>
    <div class="col-md-4">
        <img src="http://codedocs.azureedge.net/images/togaf9-certified_web.png" />
    </div>
</div>





    


