body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url('http://codedocs.azureedge.net/images/BannerPR.jpeg');
    height: 368px;
}

.img-tag{
     float:left;
     padding-right:10px;
}

.clear {
    clear:both;
}

.about-padding{
    padding-bottom:25px;
}

.input-box-width{
    width:280px;
}

.contact-padding{
    padding-top:25px;
}

.codedocs-navbar:before{
    content:"CodeDocs Cloud and Software Development";
}

@media (max-width:500px){
    .codedocs-navbar:before{
        content:"CodeDocs";
    }
}
