@{
    ViewBag.Title = "About";
}

<div class="row about-padding">
    <div class="col-md-12">
        <h1>CodeDocs Principle Technologist - Pete Worlin</h1>
    </div>
</div>


<div class="row about-padding">
    <div class="col-md-4">
        <img src="http://codedocs.azureedge.net/images/MCSD-ASA logo-BWPR.png" />
    </div>
    <div class="col-md-8">
        <br/>
        <p>CodeDocs was created in 2010 by Peter to provide SharePoint, Development and IT consultancy to Small, Medium and Large enterprises. </p> 
        <p>With many years experience of providing IT Services specifically around software development, web sites, intranets and
            extranets we now also focus on helping customers, both existing and new, take their first steps to the cloud.
        </p>
    </div>
</div>


<div class="row about-padding">
    <div class="col-md-8">
        <br/>
        <p>Peter is an ex-employee of Microsoft who worked in their SharePoint consultancy as a Senior consultant and who is now helping companies through CodeDocs to realise the potential of the cloud.  </p>
        <p>With a background in code-development creating websites, intranets and extranets Peter can help your company take it first steps to the cloud or develop your cloud presence.  </p>

        <p>Peter is a qualified Microsoft Azure Solution Architect and is a certified TOGAF practitioner.</p>
    </div>
    <div class="col-md-4">
        <img src="http://codedocs.azureedge.net/images/togaf9-certified_web.png" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>About this website</h3>
        <p>This website has been developed using Visual Studio 2013.  It uses the Bootstrap Framework from Twitter to nicely size elements when viewed on a range of different devices with different viewports.</p>
        <p>The website is hosted in Microsoft Azure as a web app and uses staging and production slots so that changes can be tested in a live environment but without live users.  Following successful testing the slots are swaped so that the staging slot becomes live and the production slot becomes staging.</p>
        <p>The images are stored in Azure storage and are referenced using CDN (Content Delivery Network) provided by Azure to ensure that the images are served to your browser from the closest location to you.</p>
        <p>The Enquiry form uses Azure Queue Storage to store the message.  A webjob then reads the messages and sends a text and an e-mail alert - decoupling to two processes.</p>
    </div>
</div>



    


