
@{
    ViewBag.Title = "AboutWeb";
}

<div class="row about-padding">
    <div class="col-md-12">
        <h1>About this web site</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This website has been developed using Visual Studio 2013.  It uses the Bootstrap Framework from Twitter to nicely size elements when viewed on a range of different devices with different viewports.  This is supplemented with media specific CSS to change the text in the header based on viewport width to render better on mobiles.</p>
        <p>The website is hosted in Microsoft Azure as a web app and uses staging and production slots so that changes can be tested in a live environment but without live users.  Following successful testing the slots are swaped so that the staging slot becomes live and the production slot becomes staging.</p>
        <p>The images are stored in Azure storage and are referenced using CDN (Content Delivery Network) provided by Azure to ensure that the images are served to your browser from the closest location to you.  This also reduces the cost a little as content is being served from the CDN rather than storage.</p>
        <p>The Enquiry form uses an Azure Storage Queue to store the message.  A webjob then reads the messages and sends an e-mail alert and writes the message to Azure table storage for future reference.</p>
    </div>
</div>

