@{
    ViewBag.Title = "About";
}



<h1>CodeDocs Principle Technologist - Pete Worlin</h1>

<div style="margin-top:20px;">
    <p>CodeDocs was created in 2010 by Peter to provide SharePoint, Development and IT consultancy to Small, Medium and Large enterprises.  With many years experience of providing consultancy specifically around software development, web sites, intranets and 
    extranets we now also focus on helping customers, both existing and new take their first steps to the cloud. </p>
    <div style="width:175px; float:left; margin-right:20px;">
        <img src="~/Images/MCSD-ASA logo-BW.png" style="width:100%;" />
    </div>
    <div style="margin-left:7px;">
        <p>Peter is an ex-employee of Microsoft who previously worked in their SharePoint consultancy as a Senior consultant and who is now helping companies through CodeDocs to realise the potential of the cloud.  </p>
        <p>With a background in code-development creating websites, intranets and extranets Peter can help your company take it first steps to the cloud or develop your cloud presence.  </p>

        <p>Recently Peter has qualified as a Microsoft Azure Solution Architect and is a certified TOGAF practiioner.</p>
    </div>
</div>
<div style="clear:both;">
    <img src="~/Images/togaf9-certified_web.png" />
</div>



    


