
@{
    ViewBag.Title = "Consult";
}

<h2>Consultancy</h2>

<div>
    <div>
        <div class="img-tag">
            <img class="img-responsive" src="~/Images/consultpr.jpeg" />
        </div>
        <div style="padding-top:25px;">
            <p>Consultancy comes in many shapes and sizes to suit a company's particular needs at a point in time</p>
            <p>CodeDocs can assist in reviewing tenders for a particular project to ensure you get best value for money.  We can review deliveries from third party providers or from in-house development teams.</p>
            <p>With our TOGAF knowledge we can help look at the wider Enterprise aspect of your companies IT principles - ensuring you have the right guidedance to keep your company competitve using the latest IT knowledge.</p>
            <p>Most of our engagements comes from an initial free consultancy of half a day that we provide, so please contact us today to see how we can assist you.</p>
        </div>
    </div>

</div>
