
@{
    ViewBag.Title = "Development";
}

<h2>Development</h2>

<div>
    <div>
        <div class="img-tag">
            <img class="img-responsive" src="~/Images/developmentpr.jpeg" />
        </div>
        <div style="padding-top:25px;">
            <p>The development team at CodeDocs have been writing software since 1998.</p>
            <p>With experience of creating bespoke Intranets before the advent of web content management suites, experience of developing web sites hosted on a variety of platforms and experience of creating Office add-ins and bespoke software to solve particular business needs.</p>
            <p>CodeDocs can help you at every stage of the process from Requirements Gathering, Analyses, Design, Development, Implementation and Ongoing support.
            <p>We have the skills and approach necessary to assist you in any software development activity.</p>

        </div>
    </div>
    <div style="clear:both;">
        <p>A selection of some of the Software Development tasks undertaken by CodeDocs include:</p>
        <ul>
            <li>SharePoint O365 Intranet setup, configuration and customisations</li>
            <li>A utility to de-dupe data for a mail order company </li>
            <li>A migration program to migrate documents within a SharePoint environment</li>
            <li>Working on oilfield development software project</li>
        </ul>
    </div>
    <div>
        <p>Each software development task is unique in it's requirements and delivery and support needs and CodeDocs will work with you to utilise the best approach for your needs, your budget and your time.</p>
    </div>
</div>

