
@{
    ViewBag.Title = "FirstSteps";
}

<h2>First Steps - Hybrid Cloud 1</h2>
<div>
    <div>
        <p>Any first steps to anywhere can be difficult and challenging without the appropriate research, knowledge and understanding usually gained from having already completed the first steps.
        <p>CodeDocs can help you with those first tentative steps by guiding you to the most appropriate steps for your company based on how you currently work, your company's current IT pinch points and expected investment in IT</p>
        <p>First steps may include some or any of the following, but we'll help you based on your needs:</p>
    </div>
    <div style="clear:both;">
        <ul>
            <li>Office 365 Business Essentials - Email with 50 GB amilbox, 1TB file storage, HD video conferencing, Office applications online</li>
            <li>Using Cloud back-up solutions - simple utility installed on on-prem computers to easily provide off-prem flexible backup </li>
            <li>Upgrading your company web site to make it mobile and device friendly; maybe hosted in the cloud</li>
            <li>Creating a mobile-app.  Distinct from a mobile enabled web site a mobile-app enables greater UI expression and utilisation of device capabilities</li>
            <li>Additional compute power linked to your network via either Peer-to-Site, Site-to-Site or ExpressRoute connectivity </li>
            <li>Additional storage - StorSimple gives you a plug-and-play appliance that provides flexibility on how storage is managed betwen on-site and on-cloud.</li>
        </ul>
    </div>
</div>