@{
    ViewBag.Title = "FirstSteps";
}

<div class="row">
    <div class="col-md-12">
        <h2>First Steps - Hybrid Cloud 1</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-tag">
            <img class="img-responsive" src="http://codedocs.azureedge.net/images/CloudStepsPR.jpeg" />
        </div>
        <div style="padding-top:25px;">
            <p>Any first steps to any destination can be difficult and challenging without the appropriate research, knowledge and understanding usually gained from having already completed those first steps.</p>
            <p>The cloud can at first seem daunting.  There are so many providers and within each provider there are so many offerings - the key is starting small with steady steps that have proved their worth.</p>
            <p>CodeDocs can help you with those first tentative steps by guiding you to the most appropriate initial cloud solutions for your company based on how you currently work, your company's current IT pinch points and expected investment in IT</p>
            <p>CodeDocs have IT professionals who are qualified to the highest Microsoft Azure Architect level to help you get to the Azure cloud.  We also have associates we work with if your choice of cloud is Amazon Web Services (AWS) or the Google Cloud.</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">             
        <p>First steps may include some or any of the following, but we'll help you based on your needs:</p>
        <ul>
            <li>Office 365 Business Essentials - Email with 50 GB mailbox, 1TB file storage, HD video conferencing, Office applications online</li>
            <li>Using Cloud back-up solutions - a simple utility installed on on-prem computers to easily provide off-prem flexible backup to cloud storage </li>
            <li>Upgrading your company web site to make it mobile and device friendly; maybe hosted in the cloud</li>
            <li>Enabling Single Sign On to cloud services - utilising your own network user names and passwords</li>
            <li>Additional compute power linked to your network via either Peer-to-Site, Site-to-Site or ExpressRoute connectivity </li>
            <li>Additional storage - StorSimple gives you a plug-and-play appliance that provides flexibility on how storage is managed betwen on-site and on-cloud.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Of course if you've already taken your first steps and are unsure where to go next in your companies journey to the cloud why not consider these @Html.ActionLink("next steps", "NextSteps", "Home") or @Html.ActionLink("optimisations", "Optimise", "Home")</p>
    </div>
</div>
