@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

@*<div class="row">
    <div class="col-md-12">
        <h1>CodeDocs Cloud and Software Development Services</h1>
        <p class="lead"><i>Taking your company to the Cloud</i></p>
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Cloud</h2>
        <p>
            Let CodeDocs help take your company's first steps to the Cloud. 
        </p>
        <p>    
            CodeDocs will help you look at how you currently operate and consider IT solutions that may be appropriate to move to the cloud to reduce your IT costs and ensure there will be a tangible benefit to your business.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Learn More", "FirstSteps", "Services")</p>
    </div>
    <div class="col-md-4">
            <h2>Software Development</h2>
            <p>CodeDocs specialise in software development
            </p>
            <p>We can develop software using the Microsoft development stack to integrate with your companies IT systems and user expectations.  We have many years experience in creating Intranets, Extranets and web sites and can now offer hosting in the cloud.</p>
            <p class="btn btn-default">@Html.ActionLink("Learn More", "Development", "Services")</p>
        </div>
        <div class="col-md-4">
            <h2>Consultancy</h2>
            <p>CodeDocs can help with general IT consultancy</p>
            <p>We can work with you and your company to determine if the direction your IT management is taking is the right one.  As a certified TOGAF Archtect we can look at the enterprise level of your IT architecture.</p>
            <p class="btn btn-default">@Html.ActionLink("Learn More", "Consult", "Services")</p>
        </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <p>CodeDocs are based in Reading, Berkshire in the UK - but also operate at a national & global level utilising the cloud and mobile technologies we specialise in.</p>

    </div>
</div>