@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CodeDocs Cloud and Mobile Services</h1>
    <p class="lead"><i>Taking your company to the Cloud</i></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>First steps</h2>
        <p>
            Let us help you take your company's first steps to the Cloud. 
        </p>
        <p>    
            CodeDocs will help you look at how you currently operate and consider IT solutions that may be appropriate to move to the cloud to reduce your IT costs and ensure there will be a tangible benefit to your business.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Learn More", "FirstSteps", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Next steps</h2>
        <p>Now you've moved some of your IT capability to the cloud what's next. 
        </p>
        <p>Maybe a hybrid virtual network or a migration of some of the larger IT capabilities such as Intranets, Extranets and Websites - the cloud offer's solution enhancements that are hard or impossible to match in traditional data centres.</p>
        <p class="btn btn-default">@Html.ActionLink("Learn More", "NextSteps", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Opitimisations</h2>
        <p>We can help ensure you're getting value for money from your cloud investment through monitoring and notifications</p>
        <p>We can help configure auto-scaling of your Virtual Machines, Web Sites and Databases up and down as required by the demand on a service, reducing costs and optimising performance.</p>
        <p class="btn btn-default">@Html.ActionLink("Learn More", "Optimise", "Home")</p>
    </div>
</div>