
@{
    ViewBag.Title = "NextSteps";
}

<h2>Next Steps - Hybrid Cloud 2</h2>
<div>
    <div>
       <p>Next steps can often be as difficult as the first steps.  Your first steps have been acheived and you hopefully noticed tangible benefits both in terms of costs to maintain your IT systems and  savings in time that your IT staff
        spent in managing your companies IT.  These staff are now available to work on other projects to move your company forward on to bigger and better things.</p>
        <p>Maybe now though you've stagnated.  You're not sure where to go next to take advantage of the cloud.  So, contact us, and let's see if together we can kick-start again your journey to the cloud.</p>
        
        <p>Next steps may include some or any of the following, but we'll help you based on your needs:</p>
    </div>
    <div style="clear:both;">
        <ul>
            <li>A mobile enabled web site with a global presence so that your users are directed to your web-site that's hosted closest to them geographically</li>
            <li>An integrated mobile web and mobile app - with the app taking adavantage of device capabilities such as geo-location, camera etc. </li>
            <li>A virtual network with more and more of your company services hosted in the cloud and decommisioning of your on-premise hardware</li>
            <li>Reachback from cloud services to your database content that you want to maintain on premise</li>
        </ul>
    </div>
</div>


