
@{
    ViewBag.Title = "Optimise";
}

<h2>Optimise</h2>

<p>
    Usually by this stage you have multiple company IT services deployed to the cloud and are very comfortable with your Hybrid Cloud solutions.  Maybe you have Exchange and SharePoint online enabled, you have your Intranet hosted in the cloud and are using O365 to provide all your Office software needs.  
    </p>
<p>
    At this stage you may find that your users are using a wide variety of Saas applications and the IT department is spinning up countless additional virtual machines and just leaving them on with litle thought to decommisioning them from the cloud - adding considerably to your cloud computing costs.

</p>

<p>This is the stage where you need to start to optimise your use of both on-premise resources and your Cloud presence and take back some of the control that you maybe lost in your cloud journey. </p>
    
      <p>Using <a href="https://www.microsoft.com/en-gb/cloud-platform/hybrid-cloud?WT.srch=1&WT.mc_ID=SEM_CqBrb62X">Microsoft Operations Management Suite</a> you can re-gain control of your on-premise and cloud architecture - and gain better management and understanding or your IT resources and their usage. </p>
 <p>Using a small program from microsoft can help you keep track of which SaaS applications are being used. With this information you can start to consider using single sign on capabilitities to these SaaS aaplications using either your users existing on-premise AD credentials or by mapping their cloud credentials to the SaaS application. You
   can also prohibit access to SaaS applications that may not be suitable. </p>

<p>To discover further how you can optimise your hybrid cloud architecture please contact us using the information in the footer below.</p>

