
@{
    ViewBag.Title = "Consult";
}

<div class="row">
    <div class="col-md-12">
        <h2>CodeDocs Consultancy</h2>
    </div>
</div>

<br/>   
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 img-tag" style="padding-top:25px;">
            <img class="img-responsive" src="http://codedocs.azureedge.net/images/ConsultPR.jpeg" />
        </div>
        <div class="col-md-8" style="padding-top:25px;">
            <p>Consultancy comes in many shapes and sizes to suit a company's particular needs at a point in time</p>
            <p>CodeDocs can assist in reviewing tenders for a particular project to ensure you get best value for money.  We can review deliveries from third party providers or from in-house development teams.</p>
            <p>With our TOGAF knowledge we can help look at the wider Enterprise aspect of your companies IT principles - ensuring you have the right guidedance to keep your company competitve using the latest IT knowledge.</p>
            <p>Most of our engagements comes from an initial free consultancy of half a day that we provide, so please contact us today to see how we can assist you.</p>
        </div>
    </div>

</div>

<div class="row contact-padding">
    <div class="col-md-12">
        <p>At CodeDocs we have a lot of experience with SharePoint - all versions - used for team sites, intranets and extranets, both architectures and development. Contact us to discuss:</p>
        <ul>
            <li>Migration of content from one version of SharePoint to another - all on premise.</li>
            <li>Migration of content from on premise to O365.</li>
            <li>Enhancements to your existing SharePoint solutions such as web parts, master pages, page layouts, workflows etc.</li>
            <li>Creation of your first SharePoint farm for an Intranet or for file storage & management to replace your file system</li>
            <li>Creation of a web site in SharePoint</li>
            <li>To implement SharePoint search</li>
        </ul>
    </div>
</div>
