@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Belleisle<br />
    Reading, <br /> 
    Berkshire, <br />
    RG8 8AP <br />
    United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    +44 (0)7956 152553
</address>

<address>
    <strong>Contact us</strong>   <a href="mailto:peter.worlin@codedocs.co.uk">peter.worlin@codedocs.co.uk</a>
</address>